.portal-wrapper{
    padding: 20px;
    color: white;
}

.top-bar{
    background-color: gold;

}

.orbit-wrapper{
    background-color: #7D5CC6;
}

.nav-menu {
    background-color: #FFE65F !important;
    
}

.outer-columns{
    padding: 0px !important;
}

section{
    margin-top: 50px;
    margin-bottom: 50px;
}

.section-header{
    padding-bottom: 50px;
}


.network-card{
    border-radius: 5px;
    box-shadow: 0 10px 20px 0 rgba(black,0.6);
    padding: 2px;
    background-color: #FFF2AE;
}

.network-card .card-divider{
    background-color: #FFEC82;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.divider-icon{
    width: 64px;
}


